{% extends "base.html" %} {% block title %}Airing Today{% endblock %} {% block
css %} {% endblock %} {% block content %}

<h1>{{user["username"]}}'s Airing Today</h1>
<form action="nyaa" method="get">
  <input type="submit" name="nyaa" value="nyaa" />
</form>

<ol>
  {% for anime in airing_list["data"] %}
  <li>
    <p>ID: {{anime["id"]}} {{anime["title"]}}</p>
    <img src={{anime["image"]}}>
    <form action="delete/{{anime['id']}}/today" method="post">
      <input type="submit" name="delete" value="delete" />
    </form>
  </li>
  {% endfor %}
</ol>
{% endblock %}
