{% extends "base.html" %} {% block title %}Season{% endblock %}{% block css %}

<link rel="stylesheet" href="../static/list.css" />
{% if theme=="light" %}
<link rel="stylesheet" href="../static/list_light.css" />
{% else %}
<link rel="stylesheet" href="../static/list_dark.css" />
{% endif %}


{%endblock %} {% block content %}

<div class="body">

<div class="sub_body light_body dark_body">
<div class="main_top">
<h1 class="main_text">Current Season</h1>
<a class="mal_link link_button" href="https://myanimelist.net/anime/season">Mal</a>
</div>
<ol>
  {% for anime in anime_list %}
  <li class="anime_block dark_body light_body ">

    <img class="list_image light_list_image dark_list_image" src={{anime_list[anime]["image"]}}>
    <div class="anime_text_block">
    <p class="anime_text anime_title" > {{anime_list[anime]["title"]}}</p>
    <p class="anime_text">ID: {{anime}} </p>
    </div>
    <form action="add/{{anime}}/all" method="post">
      <input class="anime_button light_button dark_button" type="submit" name="add" value="Add" />
    </form>
  </li>
  {% endfor %}
</ol>
</div>
</div>
{% endblock %}
