{% extends "base.html" %} {% block title %}Watchlist{% endblock %} {% block css
%} 

<link rel="stylesheet" href="../static/list.css" />

{% if theme=="light" %}
<link rel="stylesheet" href="../static/list_light.css" />
{% else %}
<link rel="stylesheet" href="../static/list_dark.css" />
{% endif %}
{% endblock %} {% block content %}


<div class="body">

<div class="sub_body light_body dark_body">
<h1>{{user["username"]}}'s Watchlist</h1>

<form action="add/id" method="post">
      <input type="number" name="anime_id" value="Enter MAL ID" required/>
      <input type="submit" name="add" value="add" />
</form>


<form action="clear" method="post">
  <input type="submit" name="clear" value="clear all" />
</form>


<ol>
  {% for anime in watchlist["data"] %}
  <li class="anime_block dark_body light_body ">
    <img class="list_image light_list_image dark_list_image" src={{anime["image"]}}>
    <div class="anime_text_block">
    <p class="anime_text anime_title" > {{anime["title"]}}</p>
    <p class="anime_text">ID: {{anime["id"]}} </p>
    </div>
    <form class="anime_button" action="delete/{{anime['id']}}/watchlist" method="post">
      <input type="submit" name="delete" value="Remove" />
    </form>

  </li>
  {% endfor %}
</ol>
</div>
</div>
{% endblock %}
