body {
  background-color: #121212;
  background-color: #282828;
}

a {
  background-color: #3f3f3f;
  border-color: #bdc3c7;
  color: white;
}

h1,
p,
label {
  color: white;
}

.dark_body {
  background-color: #282828;
  border-color: #bdc3c7;
}

.dark_list_image {
  background-color: #3f3f3f;
  border-color: #bdc3c7;
}

/* .dark_anime_list { */
/*   padding: 10px 10px; */
/*   background-color: #3f3f3f; */
/*   border: solid; */
/*   border-width: 3px; */
/*   border-color: #bdc3c7; */
/* } */
